* {
  box-sizing: border-box;
}
.wrapper{
  display: flex;
}

.side_bar {
  width: 300px;
  height: 100vh;
  &__user_name{
    background-color: #253141;
    height: 100px;
    display: flex;
    &__text_box{
      width: 260px;
      height: 20px;
      margin: auto 20px;
      display: flex;
      justify-content: space-between;
      &__name_text{
        color: #ffffff;
        font-size: 16px;
        font-weight: bold;
        line-height: 20px;
      }
      &__icon_box{
        width: 60px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        &--edit_icon{
          color: #ffffff;
          display: block;
          margin-right: 5px;
        }
        &--cog_icon{
          color: #ffffff;
          display: block;
        }
      }
    }
  }
  &__group_list{
    background-color: #2f3e51;
    height : calc(100vh - 100px);
  }
}

.main_chat {
  width:  calc(100vw - 300px);
  height: 100vh;
  &__group_info{
    height: 100px;
    background-color:#ffffff;
  }
  &__message_list{
    width: calc(100vw - 300px);
    height: calc(100vh - 100px - 90px);
    background-color: #fafafa;
    border: solid 1px #eeeeee;
  }
  &__message_form{
    height: 90px;
    background-color: #d2d2d2;
  }
}