* {
  box-sizing: border-box;
}
.wrapper{
  display: flex;
}

.side_bar {
  width: 300px;
  height: 100vh;
  &__user_name{
    background-color: #253141;
    height: 100px;
    display: flex;
    &__text_box{
      width: 260px;
      height: 20px;
      margin: auto 20px;
      display: flex;
      justify-content: space-between;
      &__name_text{
        color: #ffffff;
        font-size: 16px;
        font-weight: bold;
        line-height: 20px;
      }
      &__icon_box{
        width: 60px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        &--edit_icon{
          color: #ffffff;
          display: block;
          margin-right: 5px;
        }
        &--cog_icon{
          color: #ffffff;
          display: block;
        }
      }
    }
  }
  &__group_list{
    background-color: #2f3e51;
    height : calc(100vh - 100px);
    &__list_box{
      height: 91px;
      padding-top: 20px;
      padding-left: 20px;
      &__group_name{
        font-size: 15px;
        margin-bottom: 5px;
        color: #ffffff;
      }
      &__top_message{
        font-size: 11px;
        margin-bottom: 40px;
        color: #ffffff;
      }
    }
  }
}

.main_chat {
  width:  calc(100vw - 300px);
  height: 100vh;
  &__group_info{
    height: 100px;
    width:  calc(100vw - 300px);
    background-color:#ffffff;
    display: flex;
    justify-content: space-between;
    &__left_box{
      padding-left: 40px;
      &__chat_tittle{
        font-size: 20px;
        color: #333333;
        margin-top: 35px;
        margin-bottom: 15px;
      }
      &__member_list{
        font-size: 12px;
        color: #999999;
        display: flex;
        justify-content: start;
        list-style: none;
        &__chat_member{
          padding-right: 5px;
        }
      }
    }
    &__right_box{
      width: 72px;
      height: 40px;
      border: solid 1px #38aef0;
      margin-top: 28px;
      margin-right: 40px;
      &--edit_btn{
        color: #38aef0;
        font-size: 16px;
        line-height: 40px;
        margin: 0 20px;
        text-decoration: none;
      }
    }
  }

  &__message_list{
    height: calc(100vh - 100px - 90px);
    background-color: #fafafa;
    border: solid 1px #eeeeee;
    &__message_box{
      margin-left: 40px;
      margin-bottom: 46px;
      margin-top: 35px;
      &__top_box{
        margin-bottom: 12px;
        display: flex;
        justify-content: flex-start;
        &__member_name{
          font-size: 16px;
          color: #333333;
          font-weight: bold;
        }
        &__date_info{
          font-size: 12px;
          color: #999999;
          margin-left: 10px;
        }
      }
      &__message{
        font-size: 14px;
        color: #434a54;
        margin-top: 12px;
      }
    }
  }
  &__message_form{
    height: 90px;
    width:  calc(100vw - 300px);
    background-color: #d2d2d2;
    padding: 20px 40px;
    &__form_box{
      height: 50px;
      display: flex;
      justify-content: space-between;
      &__form_contents{
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: #ffffff;
        position: relative;
        align-items: center;
        &__input_text{
          font-size: 16px;
          height: 50px;
          width: 100%;
          border-style: none;
          padding-left: 15px;
          padding-right: 45px;
        }
        &__input_image{
          position: absolute;
          right: 10px;
          &--img_icon{
            color: black;
            font-size: 25px;
          }
          &--hidden_file{
            display: none;
          }
        }
      }
      &--send_btn{
        height: 50px;
        margin-left: 15px;
        font-size: 16px;
        color: #ffffff;
        background-color: #38aef0;
        border-style: none;
        padding: 0px 30px;
      }
    }
  }
}